<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<div th:replace="index.html :: headfiles"></div>
	<title>Add Animal</title>
</head>
<body>

<nav th:replace="animal/all-animals.html :: navbarAnimalActive"></nav>

<div class="p-5">

	<div class="container border w-50 px-5 ">

		<div class="container w-75 mt-5 mb-5">
			<h2 class="d-flex justify-content-center">Add Animal</h2>
			<form action="/animal/add" method="post" th:object="${animal}">

				<div class="mb-3">
					<label class="form-label" for="name">User</label>
					<select aria-label="Default select example" class="form-select"
					        th:field="*{user}">
						<option th:each="user : ${users}"
						        th:text="${user.toString}"
						        th:value="${user.id}">
						</option>

					</select>

				</div>

				<div class="mb-3">
					<label class="form-label" for="name">Name</label>
					<input class="form-control" id="name" name="name" placeholder="Name" th:field="*{name}" type="text">
				</div>

				<div class="mb-3">
					<label class="form-label" for="height">Height</label>
					<input class="form-control" id="height" name="height" placeholder="Height" th:field="*{height}"
					       type="number">
				</div>

				<div class="mb-3">
					<label class="form-label" for="weight">Weight</label>
					<input class="form-control" id="weight" name="weight" placeholder="Weight" th:field="*{weight}"
					       type="number">
				</div>

				<div class="mb-3">
					<label class="form-label" for="age">Age</label>
					<input class="form-control" id="age" name="age" placeholder="Age" th:field="*{age}"
					       type="number">
				</div>

				<label class="form-label" for="age">Animal Type</label>
				<select aria-label="Default select example" class="form-select"

				        th:field="*{animal}">

					<option th:each="type : ${types}"
					        th:text="${type.displayValue}"
					        th:value="${type}"
					></option>

				</select>

				<br>
				<div class="mb-3">
					<label class="form-label" for="adoptionDate">Adoption Date</label>
					<input class="form-control" id="adoptionDate" th:field="*{adoptable.adoptionDate}" type="date">
				</div>

				<div class="mb-3">
					<label class="form-label" for="info">Info</label>
					<input class="form-control" id="info" th:field="*{adoptable.info}" type="text">
				</div>

				<div class="mb-3">
					<label class="form-label" for="price">Price</label>
					<input class="form-control" id="price" th:field="*{valued.price}" type="number">
				</div>

				<div class="d-flex justify-content-between">
					<div class="form-check">
						<input class="form-check-input" id="adoptable" th:field="*{adoptable.isAdoptable}"
						       th:value="*{adoptable.isAdoptable}" type="checkbox">
						<label class="form-check-label" for="adoptable">
							Adoptable
						</label>
					</div>

					<div class="form-check ">
						<input class="form-check-input" id="shipping" th:field="*{valued.shippable}"
						       th:value="*{valued.shippable}" type="checkbox">
						<label class="form-check-label" for="shipping">
							Shippable
						</label>
					</div>
				</div>

				<div class="d-flex justify-content-center">
					<button class="btn btn-secondary btn-lg" type="submit">Submit</button>
				</div>

			</form>

		</div>

	</div>
</div>

</body>
</html>