<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<div th:replace="index.html :: headfiles"></div>
	<title>Info</title>
</head>

<body>

<nav th:replace="animal/all-animals.html :: navbarAnimalActive"></nav>

<div class="py-3 mx-3">
	<a th:href="@{/animal/all}">
		<button class="btn btn-secondary btn-sm"><i class="fa fa-arrow-left"> </i> Back</button>
	</a>
</div>

<table class="mb-5 table">

	<thead>
	<tr>
		<th class="ps-5"> Name</th>
		<th> Height</th>
		<th> Weight</th>
		<th> Age</th>
		<th>Type of animal</th>


	</tr>
	</thead>

	<tbody>
	<tr th:each="animal : ${animals}">
		<td class="ps-5">
			<span th:text="${animal.getName()}"></span>
		</td>
		<td class="ps-4">
			<span th:text="${animal.getHeight()}"></span>
		</td>
		<td class="ps-4">
			<span th:text="${animal.getWeight()}"></span>
		</td>
		<td class="ps-3">
			<span th:text="${animal.getAge()}"></span>
		</td>
		<td class="ps-5">
			<span th:text="${animal.getAnimal().getDisplayValue()}"></span>
		</td>

	</tr>

	</tbody>

</table>


<table class="mb-5 table">

	<thead>
	<tr>
		<th class="ps-5">Adoptable</th>
		<th>Adoption Date</th>
		<th>Info</th>
		<th>Price</th>
		<th>Shippable</th>
	</tr>
	</thead>

	<tbody th:each="animal : ${animals}">
	<tr>
		<td class="ps-5">
			<span th:text="${animal.getAdoptable().getIsAdoptable()}"></span>
		</td>
		<td>
			<span th:text="${animal.getAdoptable().getAdoptionDate()}"></span>
		</td>
		<td>
			<span th:text="${animal.getAdoptable().getInfo()}" ></span>
		</td>
		<td>
			$<span th:text="${animal.getValued().getPrice()}"></span>
		</td>
		<td class="ps-4">
			<span th:text="${animal.getValued().getShippable()}"></span>
		</td>
	</tr>

	</tbody>

</table>





</body>
</html>